<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.ApmArchiveMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.ApmArchiveVO">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="BIZ_KEY" property="bizKey" />
        <result column="SOURCE" property="source" />
        <result column="TARGET" property="target" />
        <result column="OFFSET_DAY" property="offsetDay" />
        <result column="DSL" property="dsl" />
        <result column="QUERY_DSL" property="queryDsl" />
        <result column="AGGREGATIONS_DSL" property="aggregationsDsl" />
        <result column="TIME_INTERVAL" property="timeInterval" />
        <result column="TIME_OFFSET" property="timeOffset" />
        <result column="DISABLED" property="disabled" />
        <result column="TIME_UNIT" property="timeUnit" />
        <result column="REMARK" property="remark" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, BIZ_KEY, SOURCE, TARGET, OFFSET_DAY, DSL, QUERY_DSL, AGGREGATIONS_DSL, TIME_INTERVAL, TIME_OFFSET, DISABLED, TIME_UNIT, REMARK, MODIFY_TIME, CREATE_TIME
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="name != null "> AND NAME = #{name}</if>
        <if test="bizKey != null "> AND BIZ_KEY = #{bizKey}</if>
        <if test="source != null "> AND SOURCE = #{source}</if>
        <if test="target != null "> AND TARGET = #{target}</if>
        <if test="offsetDay != null "> AND OFFSET_DAY = #{offsetDay}</if>
        <if test="dsl != null "> AND DSL = #{dsl}</if>
        <if test="queryDsl != null "> AND QUERY_DSL = #{queryDsl}</if>
        <if test="aggregationsDsl != null "> AND AGGREGATIONS_DSL = #{aggregationsDsl}</if>
        <if test="timeInterval != null "> AND TIME_INTERVAL = #{timeInterval}</if>
        <if test="timeOffset != null "> AND TIME_OFFSET = #{timeOffset}</if>
        <if test="disabled != null "> AND DISABLED = #{disabled}</if>
        <if test="timeUnit != null "> AND TIME_UNIT = #{timeUnit}</if>
        <if test="remark != null "> AND REMARK = #{remark}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="name != null ">NAME = #{name},</if>
        <if test="bizKey != null ">BIZ_KEY = #{bizKey},</if>
        <if test="source != null ">SOURCE = #{source},</if>
        <if test="target != null ">TARGET = #{target},</if>
        <if test="offsetDay != null ">OFFSET_DAY = #{offsetDay},</if>
        <if test="dsl != null ">DSL = #{dsl},</if>
        <if test="queryDsl != null ">QUERY_DSL = #{queryDsl},</if>
        <if test="aggregationsDsl != null ">AGGREGATIONS_DSL = #{aggregationsDsl},</if>
        <if test="timeInterval != null ">TIME_INTERVAL = #{timeInterval},</if>
        <if test="timeOffset != null ">TIME_OFFSET = #{timeOffset},</if>
        <if test="disabled != null ">DISABLED = #{disabled},</if>
        <if test="timeUnit != null ">TIME_UNIT = #{timeUnit},</if>
        <if test="remark != null ">REMARK = #{remark},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
    </sql>



    <update id="updateById" parameterType="com.ttpai.framework.mybatis.test.model.ApmArchiveVO">
        UPDATE APM_ARCHIVE
        <trim prefix="SET" prefixOverrides=","><include refid="Base_Update"/></trim>
        where ID = #{id};
    </update>

    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.ApmArchiveVO">
        INSERT INTO  APM_ARCHIVE
        <trim prefix="(" suffix=")" suffixOverrides="," >
        NAME,BIZ_KEY,SOURCE,TARGET,OFFSET_DAY,DSL,QUERY_DSL,AGGREGATIONS_DSL,TIME_INTERVAL,TIME_OFFSET,DISABLED,TIME_UNIT,REMARK,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{name}, #{bizKey}, #{source}, #{target}, #{offsetDay}, #{dsl}, #{queryDsl}, #{aggregationsDsl}, #{timeInterval}, #{timeOffset}, #{disabled}, #{timeUnit}, #{remark},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.ApmArchiveVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APM_ARCHIVE
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
