<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.ApmQueryTemplateBak202005071Mapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.ApmQueryTemplateBak202005071VO">
        <result column="ID" property="id" />
        <result column="BIZ_KEY" property="bizKey" />
        <result column="TEMPLATE_NAME" property="templateName" />
        <result column="QUERY_METHOD" property="queryMethod" />
        <result column="AGG_PARAM" property="aggParam" />
        <result column="SUB_AGG_NAME" property="subAggName" />
        <result column="SUB_AGG_PARAM" property="subAggParam" />
        <result column="QUERY_PARAM" property="queryParam" />
        <result column="ROOT_PARAM" property="rootParam" />
        <result column="TOTAL_FROM" property="totalFrom" />
        <result column="TOTAL_SIZE" property="totalSize" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="INSTANCE_WEIGHT" property="instanceWeight" />
        <result column="PROHIBIT_MERGE_RULE" property="prohibitMergeRule" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BIZ_KEY, TEMPLATE_NAME, QUERY_METHOD, AGG_PARAM, SUB_AGG_NAME, SUB_AGG_PARAM, QUERY_PARAM, ROOT_PARAM, TOTAL_FROM, TOTAL_SIZE, MODIFY_TIME, CREATE_TIME, INSTANCE_WEIGHT, PROHIBIT_MERGE_RULE
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="id != null "> AND ID = #{id}</if>
        <if test="bizKey != null "> AND BIZ_KEY = #{bizKey}</if>
        <if test="templateName != null "> AND TEMPLATE_NAME = #{templateName}</if>
        <if test="queryMethod != null "> AND QUERY_METHOD = #{queryMethod}</if>
        <if test="aggParam != null "> AND AGG_PARAM = #{aggParam}</if>
        <if test="subAggName != null "> AND SUB_AGG_NAME = #{subAggName}</if>
        <if test="subAggParam != null "> AND SUB_AGG_PARAM = #{subAggParam}</if>
        <if test="queryParam != null "> AND QUERY_PARAM = #{queryParam}</if>
        <if test="rootParam != null "> AND ROOT_PARAM = #{rootParam}</if>
        <if test="totalFrom != null "> AND TOTAL_FROM = #{totalFrom}</if>
        <if test="totalSize != null "> AND TOTAL_SIZE = #{totalSize}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
        <if test="instanceWeight != null "> AND INSTANCE_WEIGHT = #{instanceWeight}</if>
        <if test="prohibitMergeRule != null "> AND PROHIBIT_MERGE_RULE = #{prohibitMergeRule}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="id != null ">ID = #{id},</if>
        <if test="bizKey != null ">BIZ_KEY = #{bizKey},</if>
        <if test="templateName != null ">TEMPLATE_NAME = #{templateName},</if>
        <if test="queryMethod != null ">QUERY_METHOD = #{queryMethod},</if>
        <if test="aggParam != null ">AGG_PARAM = #{aggParam},</if>
        <if test="subAggName != null ">SUB_AGG_NAME = #{subAggName},</if>
        <if test="subAggParam != null ">SUB_AGG_PARAM = #{subAggParam},</if>
        <if test="queryParam != null ">QUERY_PARAM = #{queryParam},</if>
        <if test="rootParam != null ">ROOT_PARAM = #{rootParam},</if>
        <if test="totalFrom != null ">TOTAL_FROM = #{totalFrom},</if>
        <if test="totalSize != null ">TOTAL_SIZE = #{totalSize},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
        <if test="instanceWeight != null ">INSTANCE_WEIGHT = #{instanceWeight},</if>
        <if test="prohibitMergeRule != null ">PROHIBIT_MERGE_RULE = #{prohibitMergeRule},</if>
    </sql>




    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.ApmQueryTemplateBak202005071VO">
        INSERT INTO  APM_QUERY_TEMPLATE_BAK_20200507_1
        <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,BIZ_KEY,TEMPLATE_NAME,QUERY_METHOD,AGG_PARAM,SUB_AGG_NAME,SUB_AGG_PARAM,QUERY_PARAM,ROOT_PARAM,TOTAL_FROM,TOTAL_SIZE,INSTANCE_WEIGHT,PROHIBIT_MERGE_RULE,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{id}, #{bizKey}, #{templateName}, #{queryMethod}, #{aggParam}, #{subAggName}, #{subAggParam}, #{queryParam}, #{rootParam}, #{totalFrom}, #{totalSize}, #{instanceWeight}, #{prohibitMergeRule},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.ApmQueryTemplateBak202005071VO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APM_QUERY_TEMPLATE_BAK_20200507_1
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
