<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.ApmTagsMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.ApmTagsVO">
        <id column="ID" property="id" />
        <result column="APP_ID" property="appId" />
        <result column="TAG_KEY" property="tagKey" />
        <result column="TAG_VALUE" property="tagValue" />
        <result column="TAG_TYPE" property="tagType" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, APP_ID, TAG_KEY, TAG_VALUE, TAG_TYPE, MODIFY_TIME, CREATE_TIME
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="appId != null "> AND APP_ID = #{appId}</if>
        <if test="tagKey != null "> AND TAG_KEY = #{tagKey}</if>
        <if test="tagValue != null "> AND TAG_VALUE = #{tagValue}</if>
        <if test="tagType != null "> AND TAG_TYPE = #{tagType}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="appId != null ">APP_ID = #{appId},</if>
        <if test="tagKey != null ">TAG_KEY = #{tagKey},</if>
        <if test="tagValue != null ">TAG_VALUE = #{tagValue},</if>
        <if test="tagType != null ">TAG_TYPE = #{tagType},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
    </sql>



    <update id="updateById" parameterType="com.ttpai.framework.mybatis.test.model.ApmTagsVO">
        UPDATE APM_TAGS
        <trim prefix="SET" prefixOverrides=","><include refid="Base_Update"/></trim>
        where ID = #{id};
    </update>

    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.ApmTagsVO">
        INSERT INTO  APM_TAGS
        <trim prefix="(" suffix=")" suffixOverrides="," >
        APP_ID,TAG_KEY,TAG_VALUE,TAG_TYPE,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{appId}, #{tagKey}, #{tagValue}, #{tagType},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.ApmTagsVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APM_TAGS
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
