<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.EsjobNamespaceMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.EsjobNamespaceVO">
        <id column="ID" property="id" />
        <result column="NAMESPACE" property="namespace" />
        <result column="DISABLE" property="disable" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAMESPACE, DISABLE, CREATE_TIME, MODIFY_TIME
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="namespace != null "> AND NAMESPACE = #{namespace}</if>
        <if test="disable != null "> AND DISABLE = #{disable}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="namespace != null ">NAMESPACE = #{namespace},</if>
        <if test="disable != null ">DISABLE = #{disable},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
    </sql>



    <update id="updateById" parameterType="com.ttpai.framework.mybatis.test.model.EsjobNamespaceVO">
        UPDATE ESJOB_NAMESPACE
        <trim prefix="SET" prefixOverrides=","><include refid="Base_Update"/></trim>
        where ID = #{id};
    </update>

    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.EsjobNamespaceVO">
        INSERT INTO  ESJOB_NAMESPACE
        <trim prefix="(" suffix=")" suffixOverrides="," >
        NAMESPACE,DISABLE,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{namespace}, #{disable},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.EsjobNamespaceVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ESJOB_NAMESPACE
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
