<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.StudentMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.StudentVO">
        <id column="ID" property="id" />
        <result column="STUDENT_NAME" property="studentName" />
        <result column="STUDENT_AGE" property="studentAge" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, STUDENT_NAME, STUDENT_AGE, MODIFY_TIME, CREATE_TIME
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="studentName != null "> AND STUDENT_NAME = #{studentName}</if>
        <if test="studentAge != null "> AND STUDENT_AGE = #{studentAge}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="studentName != null ">STUDENT_NAME = #{studentName},</if>
        <if test="studentAge != null ">STUDENT_AGE = #{studentAge},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
    </sql>



    <update id="updateById" parameterType="com.ttpai.framework.mybatis.test.model.StudentVO">
        UPDATE STUDENT
        <trim prefix="SET" prefixOverrides=","><include refid="Base_Update"/></trim>
        where ID = #{id};
    </update>

    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.StudentVO">
        INSERT INTO  STUDENT
        <trim prefix="(" suffix=")" suffixOverrides="," >
        STUDENT_NAME,STUDENT_AGE,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{studentName}, #{studentAge},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.StudentVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM STUDENT
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
