<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttpai.framework.mybatis.test.dao.ApmBizMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttpai.framework.mybatis.test.model.ApmBizVO">
        <id column="ID" property="id" />
        <result column="BIZ_NAME" property="bizName" />
        <result column="BIZ_KEY" property="bizKey" />
        <result column="REMAIN_DAY" property="remainDay" />
        <result column="REMAIN_COUNT" property="remainCount" />
        <result column="ES_INDEX" property="esIndex" />
        <result column="ROLL_STRATEGY" property="rollStrategy" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BIZ_NAME, BIZ_KEY, REMAIN_DAY, REMAIN_COUNT, ES_INDEX, ROLL_STRATEGY, MODIFY_TIME, CREATE_TIME, REMARK
    </sql>

    <!-- 通用【查询】条件  ！不包含主键字段 -->
    <sql id="Base_Where">
        <if test="bizName != null "> AND BIZ_NAME = #{bizName}</if>
        <if test="bizKey != null "> AND BIZ_KEY = #{bizKey}</if>
        <if test="remainDay != null "> AND REMAIN_DAY = #{remainDay}</if>
        <if test="remainCount != null "> AND REMAIN_COUNT = #{remainCount}</if>
        <if test="esIndex != null "> AND ES_INDEX = #{esIndex}</if>
        <if test="rollStrategy != null "> AND ROLL_STRATEGY = #{rollStrategy}</if>
        <if test="modifyTime != null "> AND MODIFY_TIME = #{modifyTime}</if>
        <if test="createTime != null "> AND CREATE_TIME = #{createTime}</if>
        <if test="remark != null "> AND REMARK = #{remark}</if>
    </sql>

    <!-- 通用【更新】条件  ！不包含主键字段 -->
    <sql id="Base_Update">
        <if test="bizName != null ">BIZ_NAME = #{bizName},</if>
        <if test="bizKey != null ">BIZ_KEY = #{bizKey},</if>
        <if test="remainDay != null ">REMAIN_DAY = #{remainDay},</if>
        <if test="remainCount != null ">REMAIN_COUNT = #{remainCount},</if>
        <if test="esIndex != null ">ES_INDEX = #{esIndex},</if>
        <if test="rollStrategy != null ">ROLL_STRATEGY = #{rollStrategy},</if>
        <if test="modifyTime != null ">MODIFY_TIME = #{modifyTime},</if>
        <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
        <if test="remark != null ">REMARK = #{remark},</if>
    </sql>



    <update id="updateById" parameterType="com.ttpai.framework.mybatis.test.model.ApmBizVO">
        UPDATE APM_BIZ
        <trim prefix="SET" prefixOverrides=","><include refid="Base_Update"/></trim>
        where ID = #{id};
    </update>

    <insert id="insertByEntity" parameterType="com.ttpai.framework.mybatis.test.model.ApmBizVO">
        INSERT INTO  APM_BIZ
        <trim prefix="(" suffix=")" suffixOverrides="," >
        BIZ_NAME,BIZ_KEY,REMAIN_DAY,REMAIN_COUNT,ES_INDEX,ROLL_STRATEGY,REMARK,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
         #{bizName}, #{bizKey}, #{remainDay}, #{remainCount}, #{esIndex}, #{rollStrategy}, #{remark},
        </trim>
    </insert>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.ttpai.framework.mybatis.test.model.ApmBizVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APM_BIZ
        <trim prefix="WHERE" prefixOverrides="AND"><include refid="Base_Where"/></trim> ;
    </select>




</mapper>
